/*********** General ***********/


:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;

    font-family: 'Raleway', sans-serif;

    h1, h2 {
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;    
    }
    
    h3 {
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    
    p {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

}

body {
    max-width: 1440px;
    min-width: 320px;
    padding-bottom: 60.5px;
}

* ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.filters svg {
    max-width: 21.42px;
    max-height: 21.42px;
}

.fa-star {
    max-width: 13.92px;
    max-height: 12.90px;    
}


/*********** header begins ***********/

header {
    max-width: 1440px;
    max-height: 79px;
    margin: auto;
    padding: 0 50px;

}

#logo {
    max-width: 161px;
    max-height: 79px;
}

nav {
    display: flex;
    width: 100%;
    align-items: flex-start;
    gap: 896.4px;
}

nav img {
    padding: 29.21px 0;
}

nav ul {
    display: flex;
    width: 321.3px;
    padding: 0px 24.34px;
    flex-direction: row;
    align-items: center;
    gap: 66.2px;
    line-height: 48.68px;
}

nav a {
    border-top: 2px solid white;
    }

.line {
    border-top: 3px solid;
    color: #ffffff;
    top: 0.4125rem;
    width: 100%;
}

nav a:link  {
    color: var(--main-color);
}


nav a:hover .line, a:hover {
    color: var(--main-color);
}

nav a:active {
    color: var(--main-color);
}

/*********** header ends ***********/

/*---------------------  -------------------------*/

/*********** main search begins ***********/

main {
    padding: 29.21px 48.68px;
}

main h1 {
    margin-bottom: 7.79px;
}

main p {
    margin-bottom: 34.1px;
}

main form {
    display: flex;
    max-width: 367px;
    max-height: 47.7px;
    align-items: center;
    gap: 23.37px;
    background: white;
    border-radius: 15px;
    border: 1px solid #F2F2F2;
    margin-bottom: 34.1px;

}

main form i {
    color: #000000;
    width: 48.68px;
    height: 47.7px;
}

main form input {
    height: 43.81px;
    width: 189.85px;
    border: none;
    margin-left: -23.37px;
    text-align:right;
    font-family: Raleway;
    font-size: 12px;

}

main form button {
    display: flex;
    height: 47.7px;
    padding: 14.6px 15.58px;
    align-items: center;
    gap: 9.73px;
    border-radius: 0px 15px 15px 0px;
    border: 1px solid var(--Blue, #0065FC);
    background: var(--Blue, #0065FC);
    color:white;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

main .filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    gap: 14.6px;
    height: 48.68px;
    margin-bottom: 34.07px;
}

main .filters ul {
    display: flex;
    justify-content: space-around;
    gap: 14.6px;
    height: 48.68px;
    flex-direction: row;
    align-items: center;
    margin-left: -38.95px;
}

main .filters ul li {
    display: flex;
    color: Black;
    font-family: Raleway;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    height: 38.94px;
    padding: 3.89px 18.5px;
    align-items: center;
    gap: 9.73px;
    border-radius: 32px;
    border: 2px solid #F2F2F2
}

main #info {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 23.37px;
    gap: 9.73px;
    margin-bottom: 34.07px;
}

main #info p {
    margin-top: 34.07px;
}

/*********** main search ends ***********/

/*---------------------  -------------------------*/

/*********** main places-catalogue begins ***********/

main #places-catalogue {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 38.95px;
}
main .shadow-style {
    padding: 30px;
    border-radius: 15px;
    background:var(--main-bg-color);
}


main .card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /**/
    border-radius: 20px;
    background: #FFF;
    /* Shadow/Card */
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
}

main #city-catalogue {
    width: 815.61px;
    display: flex;
    flex-direction: column;
    gap: 29.2px;
}

main #city-catalogue h2 {
    margin: 0;
}

main #city-catalogue ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 29.2px;
    margin-left: -38px;
    margin-bottom: 0;
    margin-top: 0;
}

main #city-catalogue ul li a {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: auto;
    gap: 4px;
}

main .main-card {
    width: 243.4px;
    padding-bottom: 0px;
}

main .main-card img {
    width: 96%;
    height: 120.73px;
    border-radius: 20px 20px 0px 0px;
    border: 5px solid var(--White, #FFF);
    background: lightgray 50% / cover no-repeat;
}

main .main-card-info {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-left: 15px;
}

main .main-card-info h3 {
    margin-top: 0;
    margin-bottom: 8px;
}

main .main-card-info span {
    margin-bottom: 8px;
}

main .star-rating {
    padding: 0 0 10px;
}

/*********** main places-catalogue ends ***********/

/*---------------------  -------------------------*/

/*********** main article begins ***********/

main article {
    display: flex;
    flex-direction: column;
    width: 361.22px;
    height: auto;

}

main article #title-most-popular {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}

main article #title-most-popular h2 {
    margin: 0;
}

main article .sponsored-card {
    width: 359.27px;
    height: 144px;
    
}

main article ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 39.2px;
    position: relative;
    left: -21.42px;
}

main article a {
    display: flex;
}

main article .sponsored-card-info {
    display: flex;
    flex-direction: column;
    padding: 9.73px 4.87px 4.87px 14.6px;
}

main article .most-popular img {
    width: 119.76px;
    height: 133.44px;
    border-radius: 20px 0px 0px 20px;
    border-top: 5px solid var(--White, #FFF);
    border-bottom: 5px solid var(--White, #FFF);
    border-left: 5px solid var(--White, #FFF);
    background: lightgray 50% / cover no-repeat;
}

main article h3 {
    margin-top: 0;
    margin-bottom: 5px;
}

main article .sponsored-star-rating {
    position: relative;
    top: 54px;
}

main article #au-coeur-sponsored {
    top: 32px;
}