/*********** General ***********/


:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;

    font-family: 'Raleway', sans-serif;
}


body {
    max-width: 1440px;
    min-width: 320px;
    padding-bottom: 60.5px;
}

* ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.filters svg {
    max-width: 21.42px;
    max-height: 21.42px;
    fill: #0065FC;
}

.fa-star {
    max-width: 13.92px;
    max-height: 12.90px;    
}

h1, h2 {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;    
}

h3 {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*********** header begins ***********/

header {
    max-width: 1440px;
    height: auto;
    margin: auto;
    padding: 0 50px;

}

#logo {
    max-width: 161px;
    max-height: 79px;
}

nav {
    display: flex;
    width: 100%;
    align-items: flex-start;
    gap: 896.4px;
}

nav img {
    padding: 29.21px 0;
}

nav ul {
    display: flex;
    width: 321.3px;
    padding: 0px 24.34px;
    flex-direction: row;
    align-items: center;
    gap: 66.2px;
    line-height: 48.68px;
}

/*nav a {
    border-top: 2px solid white;
    }*/

.line {
    border-top: 3px solid;
    color: #ffffff;
    top: 0.4125rem;
    width: 100%;
}

nav a:link  {
    color: var(--main-color);
}


nav a:hover .line, a:hover {
    color: var(--main-color);
    /* Shadow/Card */
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px rgba(0, 101, 252, 0.1);
}

nav a:active {
    color: var(--main-color);
}

/*********** header ends ***********/

/*---------------------  -------------------------*/

/*********** main search begins ***********/

main {
    padding: 29.21px 48.68px;
}

main h1 {
    margin-bottom: 7.79px;
}

main p {
    margin-bottom: 34.1px;
}

main form {
    display: flex;
    max-width: 367px;
    max-height: 47.7px;
    align-items: center;
    gap: 23.37px;
    background: white;
    border-radius: 15px;
    border: 1px solid #F2F2F2;
    margin-bottom: 34.1px;

}

main form i {
    color: #000000;
    width: 48.68px;
    height: 47.7px;
}

main form input {
    height: 43.81px;
    width: 189.85px;
    border: none;
    margin-left: -23.37px;
    text-align:right;
    font-family: Raleway;
    font-size: 12px;

}

main form button {
    display: flex;
    height: 47.7px;
    padding: 14.6px 15.58px;
    align-items: center;
    gap: 9.73px;
    border-radius: 0px 15px 15px 0px;
    border: 1px solid var(--Blue, #0065FC);
    background: var(--Blue, #0065FC);
    color:white;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

main section #mobil-research-btn {
    display: none;
    position: relative;

}

main .filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    gap: 14.6px;
    height: 48.68px;
    margin-bottom: 34.07px;
}

main .filters ul {
    display: flex;
    justify-content: space-around;
    gap: 14.6px;
    height: 48.68px;
    flex-direction: row;
    align-items: center;
    margin-left: -38.95px;
}

main .filters ul li {
    display: flex;
    color: Black;
    font-family: Raleway;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    height: 38.94px;
    padding: 3.89px 18.5px;
    align-items: center;
    gap: 9.73px;
    border-radius: 32px;
    border: 2px solid #F2F2F2
}

main .filters ul li:hover {
    background-color: var(--filter-bg-color);
}

main #info {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 23.37px;
    gap: 9.73px;
    margin-bottom: 34.07px;
}

main #info p {
    margin-top: 34.07px;
}

/*********** main search ends ***********/

/*---------------------  -------------------------*/

/*********** main places-catalogue begins ***********/

main #places-catalogue {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;
    margin-bottom: 35px;
}
main .shadow-style {
    padding: 30px;
    border-radius: 15px;
    background:var(--main-bg-color);
}


main .card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /**/
    border-radius: 20px;
    background: #FFF;
    /* Shadow/Card */
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
}

main #city-catalogue {
    width: 792.61px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

main #city-catalogue h2 {
    margin: 0;
}

main #city-catalogue ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0;
    padding: 0;
}

main #city-catalogue ul li a {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: auto;
    gap: 4px;
}

main .main-card {
    width: 243.4px;
    padding-bottom: 0px;
}

main .main-card img {
    width: 96%;
    height: 120.73px;
    border-radius: 20px 20px 0px 0px;
    border: 5px solid var(--White, #FFF);
    background: lightgray 50% / cover no-repeat;
}

main .main-card-info {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-left: 15px;
}

main .main-card-info h3 {
    margin-top: 0;
    margin-bottom: 8px;
}

main .main-card-info span {
    margin-bottom: 8px;
}

main .star-rating {
    padding: 0 0 10px;
}

main #city-catalogue #read-more:hover {
    color: var(--main-color);
}

/*********** main places-catalogue ends ***********/

/*---------------------  -------------------------*/

/*********** main article begins ***********/

main article {
    display: flex;
    flex-direction: column;
    width: 374px;
    height: auto;

}

main article #title-most-popular {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}

main article #title-most-popular h2 {
    margin: 0;
}

main article .sponsored-card {
    width: 359.27px;
    height: 144px;
    
}

main article ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 39.2px;
    position: relative;
    left: -21.42px;
}

main article a {
    display: flex;
}

main article .sponsored-card-info {
    display: flex;
    flex-direction: column;
    width: 214.51px;
    padding: 9.73px 4.87px 4.87px 14.6px;
}

main article .most-popular img {
    width: 119.76px;
    height: 133.44px;
    border-radius: 20px 0px 0px 20px;
    border-top: 5px solid var(--White, #FFF);
    border-bottom: 5px solid var(--White, #FFF);
    border-left: 5px solid var(--White, #FFF);
    background: lightgray 50% / cover no-repeat;
}

main article h3 {
    margin-top: 0;
    margin-bottom: 5px;
}

main article .sponsored-star-rating {
    position: relative;
    top: 54px;
}

main article #au-coeur-sponsored {
    top: 32px;
}

/*********** main article ends ***********/

/*---------------------  -------------------------*/

/*********** main activities begins ***********/

main #activities {
    width: 1267px;
    height: auto;
    padding: 30px;
    margin-bottom: 35px;
}

main #activities h2 {
    margin-top: 0;
    margin-bottom: 30px;
}

main #activities ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

main #activities li a {
    display: flex;
    width: 294px;
    height: auto;
    flex-direction: column;
    align-items: flex-start;
}

main #activities li img {
    height: 380px;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 20px 20px 0px 0px;
    background: lightgray 50% / cover no-repeat;
}

main #activities li h4 {
    margin: 0;
    padding: 20px 19px;
}

/*********** main activities ends ***********/

/*---------------------  -------------------------*/

/*********** footer begins ***********/

footer {
    display: flex;
    flex-direction: row;
    background-color: #F2F2F2;
    width: 1340px;
    height: auto;
    margin-left: 43.5px;
}

footer div {
    display: flex;
    width: 446px;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
}

footer div ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0;
    margin: 0;
}

footer div ul li:hover {
    color: var(--main-color);
}

/*********** footer ends ***********/

/*---------------------  -------------------------*/

/*********** Responsive begins ***********/


/********** To handle different screen sizes ************/

@media (min-width: 768px) and (max-width: 1024px) {
    body {
        max-width: 768px; /* Max width for tablets */
    }

    nav {
        gap: 480px;
    }

    main section #mobil-research-btn {
    z-index: -1;
    display: none;
    position: relative;
    
}

    main .filters {
        flex-direction: column;
        align-items: flex-start; 
        height: auto;
        gap: 0;
    }

    main #places-catalogue {
        flex-direction: column;
        flex-wrap: wrap;
    }

    main #city-catalogue {
        width: 845.41px;
    }

    main .main-card {
        width: 260px;
    }

    main article {
        width: 845px;
    }

    main article #title-most-popular {
        margin-left: 3px;
    }

    main article ul {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        gap: 20px;
        align-items: center;
        left: -40px;
    }

    main article .sponsored-card {
        width: 274px;
    }

    main article ul li {
        width: 274px;
    }

    main article .most-popular img {
        width: 91.67px;
    }

    main article .sponsored-card-info {
        width: 157px;
        padding: 9.73px 4.87px 6.87px 9.6px;
    }

    main article span {
        font-size: 14px;
    }

    main article #au-coeur-sponsored {
        top: 49px;
    }

    main article .sponsored-star-rating  {
        top: 49px;
    }

    main article #tablette {
        top: 68px;
    }

    main #activities {
        width: 844px;
    }

    main #activities ul {
        flex-wrap: nowrap ;
    }

    main #activities li a {
        width: 193.5px;
    }

    main #activities li img {
        height: 200px;
    }

    main #activities li h4 {
        height: 36px;
    }

    footer {
        width: 922px;
    }
}


@media (max-width: 767px) {
    body {
        display: flex;
        flex-direction: column;
        max-width: 100%; /* Max width for mobile phones */
        height: auto;
        padding: 0px 30px ;
        margin: 0;
        gap: 30px;
    }

    header  {
        max-width: 100%;
        height: 115px;
        padding: 0;

    }

    header nav {
        position: relative;
        flex-direction: column;
        height: 79px;
        align-items: center;
        gap: 0;
        width: 375px;
        left: -30px;
    }

    header nav img {
        width: 61.09px;
    }

    header nav ul {
        width: 375px;
        height: 0;
        gap: 0;
    }

    header nav ul .line {
        position: relative;
        width: 100%;
        top: 55px;
    }

    header nav ul li {
        width: 50%;
        height: 36px;
    }

    header nav ul li a {
        position: relative;
        top: -20px;
    }

    header nav ul li a div {
        padding-left: auto;
    }


    main {
        padding: 0;
    }

    main form {
        width: 318px;
    }

    main section #research h1 {
        margin-top: 0;
    }

    main section #research-btn {
        display: none;
    }

    main section #mobil-research-btn {
        display: inherit;
        width: 49px;
        border-radius: 15px;
    }

    main section #mobil-research-btn #search-icon {
        position: relative;
        top: 90%;
    }

    main .filters {
        flex-direction: column;
        align-items: flex-start;
        width: auto;
        justify-content: flex-start;
    }

    main .filters ul {
        display: flex;
        justify-content: flex-start;
        width: 344px;
        margin: 0;
        padding: 0;
        gap: 14.6px;
        height: 48.68px;
        flex-direction: row;
        /* margin-left: -38.95px; */
        flex-wrap: wrap;
        /* align-items: center;*/
    }

    main .filters ul li {
        font-size: 14px;
        width: 120px;
        gap: 15px;
    }

    main section #info {
        width: 335px;
        margin-top: 170px;

    }

    main #places-catalogue {
        flex-direction: column-reverse;
        align-items: center;
    }

    main #places-catalogue article {
        Width: 375px;
        Height: auto;
        Padding: 30px 20px 30px 20px;
        Gap: 15px;
    }

    main #places-catalogue article #title-most-popular {
        width: 335px;
        padding-left: 20px;
        margin: 0;
    }

    main article ul {
        gap: 15px;
        padding: 0;
        left: 0;
    }

    main article .sponsored-card {
        width: 335px;
        height: auto;
    }

    main article .sponsored-card-info {
        width: 192px;
    }

}


/* To handle screens wider than 1440px */
@media (min-width: 1441px) {
    body {
        max-width: 1440px; /* Max width and center content with white space on sides */
        margin: 0 auto;
        overflow-x: initial; /* Revert to default behavior */
    }

    main section #mobil-research-btn {
        display: none;
        position: relative;
        
    }
}